<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Alterar Perfil</title>
</head>
<body>
    <h2>Alterar Perfil</h2>

    <form method="POST" th:action="@{/atualizarUsuario}" th:object="${usuario}">
        <label for="primeiroNome">Primeiro Nome:</label><br />
        <input type="text" id="primeiroNome" name="primeiroNome" th:value="*{primeiroNome}" required /><br /><br />

        <label for="sobrenome">Sobrenome:</label><br />
        <input type="text" id="sobrenome" name="sobrenome" th:value="*{sobrenome}" required /><br /><br />

        <label for="idade">Idade:</label><br />
        <input type="number" id="idade" name="idade" th:value="*{idade}" required /><br /><br />

        <label for="email">E-mail:</label><br />
        <input type="email" id="email" name="email" th:value="*{email}" required /><br /><br />

        <label for="senha">Nova Senha:</label><br />
        <input type="password" id="senha" name="senha" /><br /><br />

        <button type="submit">Salvar Alterações</button>
    </form>

    <p th:if="${param.sucesso}" style="color: green;">Perfil atualizado com sucesso!</p>
</body>
</html>
